{% extends 'base.html' %} {% load static %} {% block title %} | About Us
{%endblock %} {% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About My American Homestay</h1>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>We Search For The Perfect Home</h2>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </p>
        <img src="{% static 'img/america.jpg' %}" alt="" />
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          esse officia repudiandae ad saepe ex, amet neque quod accusamus rem
          quia magnam magni dolorum facilis ullam minima perferendis?
          Exercitationem at quaerat commodi id libero eveniet harum perferendis
          laborum molestias quia.
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/showcase2.jpg' %}"
            alt="Seller of the month"
          />
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <h6 class="text-danger">Bringing the world together</h6>
            <p class="card-text">
              Perspiciatis esse officia repudiandae ad saepe ex, amet neque quod
              accusamus rem quia magnam magni dolorum facilis ullam minima
              perferendis? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
              neque quod accusamus rem quia magnam magni dolorum facilis ullam
              minima perferendis? Exercitationem at quaerat commodi id libero
              eveniet harum perferendis laborum molestias quia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit
    aperiam, unde aliquid at similique!
  </h4>
  <hr />
  <a href="{% url 'index' %}" class="btn btn-danger text-white btn-lg"
    >Learn More</a
  >
</section>
{% endblock %}
