{% extends 'base.html' %} {% block title %} | Create Survey{%endblock %} {% block content %}
<section class="container">
    <h1 class="large text-primary">
        Student Monthly Progress Report
    </h1>

    <small>* = required field</small>
    <form class="form" action="{% url 'surveys' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>* Coordinator Name</label>
            <input type="text" placeholder="* Coordinator Name" name="coordinator" />
        </div>
        <div class="form-group">
            <select name="status">
                <option value="0">* How was your month?</option>
                <option value="Developer">Good</option>
                <option value="Junior Developer">Better</option>
                <option value="Manager">Bad</option>
            </select>
            <small class="form-text">Give us an idea of where you are at in your career</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Student Name" name="student" />
            <small class="form-text">English Name</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Host Family" name="hostfamily" />
            <small class="form-text">Please enter full name</small>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 1" name="question1"></textarea>
            <small class="form-text">Tell us a little about yourself</small>
        </div>
        <div class="form-group">
            <label>Question 2</label>
            <textarea placeholder="Question 2" name="question1"></textarea>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 3" name="question1"></textarea>
        </div>
        <div class="form-group">
            <small class="form-text text-danger">Please check the box when survey is complete.</small>
            <input type="checkbox" name="is_complete" value="{{ post.is_complete }}"></input>
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn btn-light my-1" href="{% url 'index' %}">Go Back</a>
    </form>
</section>

<section class="container">
    <h1 class="large text-primary">
        Host Family Monthly Progress Report
    </h1>

    <small>* = required field</small>
    <form class="form" action="{% url 'surveys' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>* Coordinator Name</label>
            <input type="text" placeholder="* Coordinator Name" name="coordinator" />
        </div>
        <div class="form-group">
            <select name="status">
                <option value="0">* How was your month?</option>
                <option value="Developer">Good</option>
                <option value="Junior Developer">Better</option>
                <option value="Manager">Bad</option>
            </select>
            <small class="form-text">Give us an idea of where you are at in your career</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Student Name" name="student" />
            <small class="form-text">English Name</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Host Family" name="hostfamily" />
            <small class="form-text">Please enter full name</small>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 1" name="question1"></textarea>
            <small class="form-text">Tell us a little about yourself</small>
        </div>
        <div class="form-group">
            <label>Question 2</label>
            <textarea placeholder="Question 2" name="question1"></textarea>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 3" name="question1"></textarea>
        </div>
        <div class="form-group">
            <small class="form-text text-danger">Please check the box when survey is complete.</small>
            <input type="checkbox" name="is_complete" value="{{ post.is_complete }}"></input>
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn btn-light my-1" href="{% url 'index' %}">Go Back</a>
    </form>
</section>

<section class="container">
    <h1 class="large text-primary">
        Coordinator Monthly Progress Report
    </h1>

    <small>* = required field</small>
    <form class="form" action="{% url 'surveys' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>* Coordinator Name</label>
            <input type="text" placeholder="* Coordinator Name" name="coordinator" />
        </div>
        <div class="form-group">
            <select name="status">
                <option value="0">* How was your month?</option>
                <option value="Developer">Good</option>
                <option value="Junior Developer">Better</option>
                <option value="Manager">Bad</option>
            </select>
            <small class="form-text">Give us an idea of where you are at in your career</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Student Name" name="student" />
            <small class="form-text">English Name</small>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Host Family" name="hostfamily" />
            <small class="form-text">Please enter full name</small>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 1" name="question1"></textarea>
            <small class="form-text">Tell us a little about yourself</small>
        </div>
        <div class="form-group">
            <label>Question 2</label>
            <textarea placeholder="Question 2" name="question1"></textarea>
        </div>
        <div class="form-group">
            <textarea placeholder="Question 3" name="question1"></textarea>
        </div>
        <div class="form-group">
            <small class="form-text text-danger">Please check the box when survey is complete.</small>
            <input type="checkbox" name="is_complete" value="{{ post.is_complete }}"></input>
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn btn-light my-1" href="{% url 'index' %}">Go Back</a>
    </form>
</section>
{% endblock %}