{% extends 'base.html' %} {% block title %} | {{ survey.stname }} {%endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      {% if surveys %} {% for survey in surveys %}
      <div class="col-md-12">
        <h1 class="display-4">{{ survey.coordinator }}</h1>
        <p class="lead">
          <i class="fas fa-map-marker"></i> {{survey.name}} {{ survey.stsurname
          }}, {{ survey.sthost }}
        </p>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Survey Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
